@import url('https://fonts.googleapis.com/css2?family=Jaro&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Jaro', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000 !important;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border : 2px solid #fff;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 20vw;
    font-size: 16px;
}

@media (max-width: 768px) {
  input {
    width: 60vw;
    font-size: 12px;
  }
}